<p>
    {{> ~loc('_ label.feed.type')}}{{colon /}}
</p>
<ul class="admin-FeedOptionList">
    <li><label><input type="radio" value="tree" name="type" checked> {{> ~loc('_ label.feed.type_tree')}}</label></li>
    <li><label><input type="radio" value="categories" name="type"> {{> ~loc('_ label.feed.type_categories')}}</label></li>
    <li><label><input type="radio" value="fiches" name="type"> {{> ~loc('_ label.feed.type_fiches')}}</label></li>
    <li><label><input type="radio" value="errors" name="type"> {{> ~loc('_ label.feed.type_errors')}}</label></li>
</ul>
<p>
    {{> ~loc('_ label.feed.options')}}{{colon /}}
</p>
<ul class="admin-FeedOptionList">
    <li><label><input type="checkbox" value="f" name="ficheonly" data-usage="tree"> <code>-f</code> {{> ~loc('_ label.feed.option_ficheonly')}}</label></li>
    <li><label><input type="checkbox" value="s" name="soustitre" data-usage="tree categories"> <code>-s</code> {{> ~loc('_ label.feed.option_soustitre')}}</label></li>
    <li><label><input type="checkbox" value="i" name="icon" data-usage="tree categories"> <code>-i</code> {{> ~loc('_ label.feed.option_icon')}}</label></li>
    <li><label><input type="checkbox" value="h" name="indent" data-usage="all"> <code>-h</code> {{> ~loc('_ label.feed.option_indent')}}</label></li>
    <li><label><input type="checkbox" value="v" name="technicaltitle" data-usage="tree categories"> <code>-v</code> {{> ~loc('_ label.feed.option_technicaltitle')}}</label></li>
</ul>
<p>
    {{> ~loc('_ label.feed.lang')}}{{colon /}} <input type="text" size="7" name="lang" value="{{> lang}}">
</p>
<p>
    {{> ~loc('_ label.feed.url')}}{{colon /}}
</p>
<p>
<pre><a href="{{> feedRootUrl}}tree_{{> lang}}.atom" id="{{> feedId}}_url">{{> feedRootUrl}}tree_{{> lang}}.atom</a></pre>
</p>
    
