/*******************************************************************************
* .admin-
*******************************************************************************/

.admin-Panel {
	margin-left: 5%;
	margin-bottom: 20px;
}

.admin-MessageArea {
    margin-top: 25px;
    margin-bottom: 25px;
}

.admin-ErrorMessage {
    color: red;
}

.admin-DoneMessage {
    color: green;
}

.admin-Tool {
    font-size: 0.9em;
    margin-bottom: 25px;
}

.admin-Current {
    border-bottom: 1px red dotted;
}

.admin-FeedOptionList {
    list-style: none;
}

.admin-Info {
    font-style: italic;
}

.admin-Sources {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.admin-Sources td {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    vertical-align: top;
}

.admin-Log {
    overflow: auto;
    height: 6em;
    display: block;
    background-color: #dddddd;
    padding: 3px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.admin-State_Error {
    color: #ff0000;
}

.admin-State_Warning {
    color: #ff8800;
}

.admin-State_Neutral {
    color: #cfcfcf;
}

.admin-State_Ok {
    color: #00db00;
}

.admin-Unused {
    opacity: 0.3;
}


/*******************************************************************************
* .admin-command-
*******************************************************************************/

.admin-command-Area {
    display: inline-block;
}

.admin-command-Fields {
    border: 1px solid #c0c0c0;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 5px;
}

.admin-command-Submit {
    margin-top: 10px;
    text-align: center;
}

.admin-command-Title {
    margin-bottom: 0;
    font-size: 0.9rem;
    margin-left: 25px;
    margin-right: 200px;
    background-color: #F2F2F2;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 1px;
    border: 1px solid #c0c0c0;
    border-bottom-width: 0;
}
