/*******************************************************************************
* .list-
*******************************************************************************/

.list-Base {
    margin-top: 10px;
    margin-bottom: 5px;
}

.list-Corpus {
    margin-top: 5px;
    margin-bottom: 3px;
    list-style: none;
}

.list-Corpus li {
    margin-top: 15px;
}

.list-Fiches {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.3;
}

.list-Table {
    border-collapse: collapse;
    empty-cells: hide;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.list-Table th {
    text-align: center;
    padding: 2px;
}

.list-Table td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 4px;
    font-size: 0.9em;
}

.list-Thesaurus {
    margin-top: 5px;
    margin-bottom: 3px;
    list-style: none;
}

.list-Thesaurus li {
    margin-top: 15px;
}