/*******************************************************************************
* .logs-
*******************************************************************************/

.logs-Milliseconds {
    color: #888;
}

.logs-Name {
    color: #090;
}

.logs-Table {
    border-collapse: collapse;
}

.logs-Table td {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: monospace;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.logs-Table td:first-child {
    padding-left: 0;
}

.logs-Table td:last-child:empty {
    border: none;
}
