.querybuilder-Hidden {
    display: none;
}

.querybuilder-OptionList {
    list-style: none;
}

.querybuilder-Subinputs {
    padding-left: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #2e3436;
    font-size: smaller;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

.querybuilder-Details {
    margin-top: 25px;
    margin-bottom: 50px;
}

.querybuilder-DetailsBody {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.querybuilder-Details summary {
    cursor: pointer;
}