/*******************************************************************************
* .webapp-
*******************************************************************************/

.webapp-Logo {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.webapp-Title {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 1.1rem;
}

.webapp-ErrorTitle {
    color :red;
}

.webapp-Error {
    margin-left : 50px;
    font-family: monospace;
}

.webapp-Panel {
    margin-left: 5%;
    margin-bottom: 20px;
}

.webapp-State_inactive {
    color: gray;
}

.webapp-State_ok {
    color: green;
}

.webapp-State_error {
    color: red;
}

.webapp-State_undefined {
    color: orange;
}

.webapp-Table {
    border-collapse: collapse;
}

.webapp-Table td, .webapp-Table th {
    border: solid gray 1px;
    padding: 3px;
}

.webapp-Tool {
    font-size: 0.9em;
    margin-top: 40px;
    margin-bottom: 20px;
}