<table>
    <tr>
        <td>
            <label for="{{: builderId}}_type">{{> ~loc('_ label.querybuilder.type')}}</label>{{colon /}}
        </td>
        <td>
            <select id="{{: builderId}}_type">
            {{for types}}
                <option value="{{> name}}">{{> ~loc(loc)}} [type={{> type}}]</option>
            {{/for}}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="{{: builderId}}_lang">{{> ~loc('_ label.querybuilder.lang')}}</label>{{colon /}}
        </td>
        <td>
            <input type="text" size="7" name="lang" id="{{: builderId}}_lang" value="{{> lang}}">
        </td>
    </tr>
    <tr class="querybuilder-Hidden" data-role="fieldset" data-name="fichelist" id="{{: builderId}}_fieldset_fichelist">
        <td>
            <label for="{{: builderId}}_fichelist">{{> ~loc('_ label.querybuilder.fichelist')}}</label>{{colon /}}
        </td>
        <td>
            <input type="text" size="70" name="fichelist" id="{{: builderId}}_fichelist" value="">
        </td>
    </tr>
</table>

<details class="querybuilder-Details querybuilder-Hidden" data-role="fieldset" data-name="scope" id="{{: builderId}}_fieldset_scope" open>
    <summary>{{> ~loc('_ title.querybuilder.scope')}}</summary>
    <div class="querybuilder-DetailsBody">
        <table>
    {{for scopes}}
    <tr data-role="scope" data-name="{{> name}}"><td><label for="{{> ~root.builderId}}_scope_{{> name}}">{{> ~loc(loc)}}</label>{{colon /}}</td><td><input type="text" size="{{> size}}" name="{{> name}}" id="{{> ~root.builderId}}_scope_{{> name}}"></td></tr>
    {{/for}}
        </table>
    </div>
</details>

<details class="querybuilder-Details querybuilder-Hidden" data-role="fieldset" data-name="filters" id="{{: builderId}}_fieldset_filters" open>
    <summary>{{> ~loc('_ title.querybuilder.filters')}}</summary>
    <div class="querybuilder-DetailsBody">
        
    </div>
</details>


<details class="querybuilder-Details  querybuilder-Hidden" data-role="fieldset" data-name="fichecontent" id="{{: builderId}}_fieldset_fichecontent" open>
    <summary>{{> ~loc('_ title.querybuilder.fichecontent')}}</summary>
    <div class="querybuilder-DetailsBody">
        <p><label><input type="radio" name="fichecontent" value="default" data-deploy-target="" checked> {{> ~loc('_ label.querybuilder.fichecontent_default')}}</label></p>
        <p><label><input type="radio" name="fichecontent" value="custom" data-deploy-target="{{: builderId}}_fichecontent_custom"> {{> ~loc('_ label.querybuilder.fichecontent_custom')}}</label></p>
        <div id="{{: builderId}}_fichecontent_custom" class="querybuilder-Subinputs querybuilder-Hidden">
            {{for fichefields}}
            <div data-role="fichefield" data-name="{{: name}}"><label><input name="fichefield" type="checkbox" value="{{: name}}"> {{> ~loc(loc)}} <code>[{{: name}}]</code></label></div>
            {{/for}}
        </div>
        <p><label><input type="radio" name="fichecontent" value="variant" data-deploy-target="{{: builderId}}_fichecontent_variant"> {{> ~loc('_ label.querybuilder.fichecontent_variant')}}</label></p>
        <div id="{{: builderId}}_fichecontent_variant" class="querybuilder-Subinputs querybuilder-Hidden">
            {{> ~loc('_ label.querybuilder.variant')}}{{colon /}}
            <select id="{{: builderId}}_variant">
            {{for variants}}
            <option value="{{: #data}}">{{: #data}}</option>
            {{/for}}
            </select>
          </div>
    </div>
</details>

<details class="querybuilder-Details  querybuilder-Hidden" data-role="fieldset" data-name="postscriptum" id="{{: builderId}}_fieldset_postscriptum" open>
    <summary>{{> ~loc('_ title.querybuilder.postscriptum')}}</summary>
    <div class="querybuilder-DetailsBody">
    </div>
</details>

<p>
    {{> ~loc('_ label.querybuilder.url')}}{{colon /}}
</p>
<p>
<pre><a href="{{> jsonRootUrl}}?type=base&version=3&lang={{> lang}}" id="{{: builderId}}_url">{{> jsonRootUrl}}?type=base&version=3&lang={{> lang}}</a></pre>
</p>
